In [1]:
%load_ext pycozo.ipyext_direct

### Sample UUIDs

In [2]:
?[
    character_id,
    user_id,
    belief_id,
    episode_id,
    skill_id,
    session_id,
    entry_id,
    qna_id,
] <- [[
    "43ca8b58-190c-47cb-9cc1-151fe3127b22", # rand_uuid_v4(),
    "9503234c-95ed-4525-ba39-cab7b1bfd98c", # rand_uuid_v4(),
    "205806e9-6ee9-410e-b66e-867f63b435db", # rand_uuid_v4(),
    "fa3db702-f3a1-4182-86fc-d6b0cb7691b5", # rand_uuid_v4(),
    "49c3ce21-ed30-4a3c-87b8-42bd94c3c0dd", # rand_uuid_v4(),
    "53d9d19f-3118-4365-b07d-aae0a28f0659", # rand_uuid_v4(),
    "3573d49e-6908-4b89-8b25-b0605303b235", # rand_uuid_v4(),
    "0fba5ad9-c39c-410e-bad1-1811401e8f26", # rand_uuid_v4(),
]]

/usr/local/lib/python3.10/dist-packages/pycozo/ext_impl.py:61: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  return res.style.applymap(_colour_code_type)

### Sample vector (384)

In [3]:
%%py
vec_size = 384
vec = ["1"] * vec_size
print(f"[{','.join(vec)}]")

[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]

In [4]:
%%py
vec_size = 384
vec = ["0"] * vec_size
print(f"[{','.join(vec)}]")

[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]

## Users table

In [5]:
:create users {
    user_id: Uuid,
    updated_at: Validity default [floor(now()), true],
    =>
    email: String,
    name: String,
    about: String default "",
    metadata: Json default {},
    created_at: Float default now(),
}

In [6]:
::index create users:by_email {
    email,
    user_id,
    name,
    about,
    metadata
}

### Upsert user by user_id

In [7]:
?[user_id, name, email, about, metadata] <- [
    ["9503234c-95ed-4525-ba39-cab7b1bfd98c", "Diwank", "diwank@julep.ai", "Diwank is awesome too!", {}]
]

:put users {
    user_id =>
    name,
    email,
    about,
    metadata,
}

### Query user by user id

In [8]:
input[user_id] <- [[to_uuid("9503234c-95ed-4525-ba39-cab7b1bfd98c")]]

?[
    user_id,
    name,
    email,
    about,
    metadata,
    updated_at,
    created_at,
] := input[user_id],
    *users {
        user_id,
        name,
        email,
        about,
        metadata,
        updated_at: validity,
        created_at,
        @ "NOW"
    }, updated_at = to_int(validity)

### Query user by email

In [9]:
input[email] <- [["diwank@julep.ai"]]

?[
    user_id,
    name,
    email,
    about,
    metadata,
    updated_at,
] := input[email],
    *users:by_email {
        user_id,
        name,
        email,
        about,
        metadata,
        updated_at: validity,
        @ "NOW"
    }, updated_at = to_int(validity)

## Characters table

In [9]:
:create characters {
    character_id: Uuid,
    updated_at: Validity default [floor(now()), true],
    =>
    model: String? default null,
    name: String,
    about: String default "",
    metadata: Json default {},
    created_at: Float default now(),
}

### Upsert character by character_id

In [10]:
?[character_id, name, about, metadata, model] <- [
    ["43ca8b58-190c-47cb-9cc1-151fe3127b22", "Samantha", "Samantha is awesome!", {}, "julep-ai/samantha-1-alpha"]
]

:put characters {
    character_id =>
    name,
    about,
    metadata,
    model,
}

### Query character by character_id

In [12]:
input[character_id] <- [[to_uuid("43ca8b58-190c-47cb-9cc1-151fe3127b22")]]

?[
    character_id,
    name,
    about,
    metadata,
    model,
    updated_at,
    created_at,
] := input[character_id],
    *characters {
        character_id,
        name,
        about,
        metadata,
        model,
        updated_at: validity,
        created_at,
        @ "NOW"
    }, updated_at = to_int(validity)

### Query character by name

In [13]:
# TBD

parser::pest

  × The query parser has encountered unexpected input / end of input at 6..6
   ╭─[1:1]
 1 │ # TBD
 2 │
   · ▲
   ╰────

## Sessions table

In [11]:
:create sessions {
    character_id: Uuid,
    user_id: Uuid? default null,
    session_id: Uuid,
    updated_at: Validity default [floor(now()), true],
    =>
    situation: String,
    summary: String? default null,
    metadata: Json default {},
    created_at: Float default now(),
    ended_at: Float? default null,
}

### Upsert session by character and user id

In [12]:
?[session_id, character_id, user_id, situation, metadata] <- [[
    to_uuid("53d9d19f-3118-4365-b07d-aae0a28f0659"),
    to_uuid("43ca8b58-190c-47cb-9cc1-151fe3127b22"),
    to_uuid("9503234c-95ed-4525-ba39-cab7b1bfd98c"),
    "Samantha is talking to Diwank",
    {},
]]

:put sessions {
    character_id,
    user_id,
    session_id,
    situation,
    metadata,
}

### Query session by session id

In [16]:
input[session_id] <- [[
    to_uuid("53d9d19f-3118-4365-b07d-aae0a28f0659"),
]]

?[
    character_id,
    user_id,
    session_id,
    updated_at,
    situation,
    summary,
    metadata,
    created_at,
] := input[session_id],
    *sessions{
        character_id,
        user_id,
        session_id,
        situation,
        summary,
        metadata,
        updated_at: validity,
        created_at,
        @ "NOW"
    }, updated_at = to_int(validity)

## Models table

In [13]:
:create models {
    model_name: String,
    max_length: Int,
    updated_at: Validity default [floor(now()), true],
    =>
    default_settings: Json default {},
}

### Create model by model_name

In [14]:
?[model_name, max_length, default_settings] <- [[
    "julep-ai/samantha-1-alpha",
    4096,
    {
        "temperature": 1.0,
        "repetition_penalty": 1.25,
        "max_tokens": 400,
    },
]]

:put models {
    model_name,
    max_length,
    default_settings,
}

### Query model by model_name

In [19]:
input[model_name] <- [[
    "julep-ai/samantha-1-alpha",
]]

?[
    model_name,
    max_length,
    default_settings,
    updated_at,
] := input[model_name],
    *models {
        model_name,
        max_length,
        default_settings,
        updated_at: validity,
        @ "NOW"
    }, updated_at = to_int(validity)

## Entries table

In [15]:
:create entries {
    session_id: Uuid,
    entry_id: Uuid default rand_uuid_v4(),
    timestamp: Float default now(),
    role: String,
    name: String? default null,
    =>
    content: String,
    token_count: Int,
    processed: Bool default false,
    parent_id: Uuid? default null,
}

In [16]:
::index create entries:by_parent_id {
    parent_id,
    session_id,
}

In [17]:
::index create entries:by_processed {
    processed,
    session_id,
}

### Create entry by session id

In [18]:
?[session_id, role, name, content, token_count] <- [[
    to_uuid("53d9d19f-3118-4365-b07d-aae0a28f0659"),
    "assistant",
    "Samantha",
    "Hi Diwank",
    5,
]]

:put entries {
    session_id,
    role,
    name,
    content,
    token_count,
}

### Get entries by session id

In [20]:
input[session_id] <- [[
    to_uuid("53d9d19f-3118-4365-b07d-aae0a28f0659"),
]]

?[
    session_id,
    entry_id,
    timestamp,
    role,
    name,
    content,
    token_count,
    processed,
    parent_id,
] := input[session_id],
    *entries{
        session_id,
        entry_id,
        timestamp,
        role,
        name,
        content,
        token_count,
        processed,
        parent_id,
    }

## Beliefs table

In [21]:
:create beliefs {
    referrent_is_user: Bool,
    referrent_id: Uuid,
    subject_is_user: Bool? default null,
    subject_id: Uuid? default null,
    belief_id: Uuid,
    =>
    belief: String,
    valence: Float default 0.0,
    source_episode: Uuid? default null,
    parent_belief: Uuid? default null,
    sentiment: String default "neutral",
    processed: Bool default false,
    created_at: Float default now(),
    embedding: <F32; 384>,
    fact_embedding: <F32; 1024>? default null,
}

### Belief indices

In [22]:
::index create beliefs:by_belief_id {
    belief_id,
    belief,
    valence,
    sentiment,
}

In [23]:
::index create beliefs:by_parent_belief {
    parent_belief,
    belief_id,
    belief,
    valence,
    sentiment,
}

### Belief vector index

In [24]:
::hnsw create beliefs:embedding_space {
    dim: 384,
    m: 50,
    dtype: F32,
    fields: embedding,
    distance: Cosine,
    ef_construction: 20,
    extend_candidates: true,
    keep_pruned_connections: false,
}

In [25]:
::hnsw create beliefs:fact_embedding_space {
    dim: 1024,
    m: 50,
    dtype: F32,
    fields: fact_embedding,
    filter: !is_null(fact_embedding),
    distance: Cosine,
    ef_construction: 20,
    extend_candidates: false,
    keep_pruned_connections: false,
}

### Belief FTS index

In [26]:
::fts create beliefs:summary {
    extractor: belief,
    tokenizer: Simple,
    filters: [AsciiFolding, AlphaNumOnly, Lowercase, Stemmer('english'), Stopwords('en')],
}

### Upsert belief by character_id, belief_id

In [27]:
input[
    belief_id,
    character_id,
    belief,
    embedding,
] <- [
    [
        "205806e9-6ee9-410e-b66e-867f63b435db",
        "43ca8b58-190c-47cb-9cc1-151fe3127b22",
        "Samantha is a hopeful person",
        [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
    ]
]

?[
    referrent_is_user,
    referrent_id,
    belief_id,
    belief,
    embedding,
] := input[
        belief_id,
        referrent_id,
        belief,
        embedding,
    ],
    referrent_is_user = false

:put beliefs {
    referrent_is_user,
    referrent_id,
    belief_id =>
    belief,
    embedding,
}

### Query beliefs by belief_id

In [28]:
input[belief_id] <- [[to_uuid("205806e9-6ee9-410e-b66e-867f63b435db")]]

?[
    referrent_is_user,
    referrent_id,
    subject_is_user,
    subject_id,
    belief_id,
    belief,
    valence,
    sentiment,

] := input[belief_id], *beliefs:by_belief_id {
    referrent_is_user,
    referrent_id,
    subject_is_user,
    subject_id,
    belief_id,
    belief,
    valence,
    sentiment,
}

### Query beliefs by character_id

In [33]:
input[character_id] <- [[
    to_uuid("43ca8b58-190c-47cb-9cc1-151fe3127b22"),
]]

?[
    referrent_is_user,
    referrent_id,
    subject_is_user,
    subject_id,
    belief_id,
    belief,
    valence,
    source_episode,
    parent_belief,
    sentiment,
    processed,
    created_at,
    embedding,
    fact_embedding,

] := input[referrent_id], *beliefs {
        referrent_is_user,
        referrent_id,
        subject_is_user,
        subject_id,
        belief_id,
        belief,
        valence,
        source_episode,
        parent_belief,
        sentiment,
        processed,
        created_at,
        embedding,
        fact_embedding,
    },
    referrent_is_user = false,
    subject_is_user = null,
    subject_id = null

### Query beliefs by fts, hnsw

In [34]:
input[character_id, vector] <- [[
    to_uuid("43ca8b58-190c-47cb-9cc1-151fe3127b22"),
    vec([1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]),
]]

?[
    referrent_is_user,
    referrent_id,
    subject_is_user,
    subject_id,
    belief_id,
    belief,
    valence,
    source_episode,
    parent_belief,
    sentiment,
    processed,
    created_at,
    embedding,
    fact_embedding,

    dist,
] := input[referrent_id, vector],
    ~beliefs:embedding_space { 
        referrent_is_user,
        referrent_id,
        subject_is_user,
        subject_id,
        belief_id,
        belief,
        valence,
        source_episode,
        parent_belief,
        sentiment,
        processed,
        created_at,
        embedding,
        fact_embedding

      | query: vector,
        k: 3,
        ef: 20,
        bind_distance: dist,
        radius: 100000.0,
    },
    referrent_is_user = false,
    subject_is_user = null,
    subject_id = null

## Context window logic

In [58]:
{
    # Goal of this block is to get:
    # - character_id, user_id from session_id
    # - get session.situation
    # - also try to see if there's an entry with 'situation' type
    # - return all this
    input[
        session_id,
        dialog_embedding,
    ] <- [[
        to_uuid('53d9d19f-3118-4365-b07d-aae0a28f0659'),
        rand_vec(1024),
    ]]
    
    session[
        character_id,
        session_id,
        user_id,
        situation,
        updated_at,
        dialog_embedding,
    ] := input[
            session_id,
            dialog_embedding,
        ],
        *sessions{
            character_id,
            user_id,
            situation,
            updated_at: validity,
            @ 'NOW'
        }, updated_at = to_int(validity)

    ?[
        latest_entry_situation,
        latest_entry_timestamp,
        character_id,
        session_id,
        user_id,
        situation,
        dialog_embedding,
    ] := session[
            character_id,
            session_id,
            user_id,
            situation,
            updated_at,
            dialog_embedding,
        ],
        *entries {
            name,
            role,
            content: latest_entry_situation,
            timestamp: latest_entry_timestamp,
        }, role = 'system', name = 'situation'
    
    
    ?[
        latest_entry_situation,
        latest_entry_timestamp,
        character_id,
        session_id,
        user_id,
        situation,
        dialog_embedding,
    ] := session[
            character_id,
            session_id,
            user_id,
            situation,
            updated_at,
            dialog_embedding,
        ],
        latest_entry_situation = null,
        latest_entry_timestamp = updated_at,
    
    :sort -latest_entry_timestamp
    :limit 1

    # Tables created inside these blocks are temporary and discarded after query ends
    :create _t1 {
        latest_entry_situation,
        latest_entry_timestamp,
        character_id,
        session_id,
        user_id,
        situation,
        dialog_embedding,
    }
}

{
    # In this block, we pick between session.situation and latest situation entry if any
    ?[situation, situation_timestamp] := *_t1 {
        latest_entry_situation: situation,
        latest_entry_timestamp: situation_timestamp,
        situation: _,
    }, situation != null

    ?[situation, situation_timestamp] := *_t1 {
        latest_entry_situation: _,
        latest_entry_timestamp: situation_timestamp,
        situation,
    }

    :limit 1
    :create _t2 {
        situation,
        situation_timestamp,
    }
}

{
    # In this block, we get model settings based on character.model
    ?[
        model_name,
        max_length,
        default_settings,
    ] := *_t1{
            character_id,
        },
        *characters {
            character_id,
            model: model_name,
        },
        *models {
            model_name,
            max_length,
            default_settings,
            @ 'NOW'
        }
    
    :create _t3 {
        model_name,
        max_length,
        default_settings,
    }
}

{
    # In this, get user.name, user.about, character.name, character.about
    ?[
        user_name,
        user_about,
        character_name,
        character_about,
    ] := *_t1 {
        character_id,
        user_id,
    }, *users {
        user_id,
        name: user_name,
        about: user_about,
    }, *characters {
        character_id,
        name: character_name,
        about: character_about,
    }
        
    :create _t4 {
        user_name,
        user_about,
        character_name,
        character_about,
    }
}

{
    # Get all entries in session where parent == null (top nodes)
    # and filter out situation tags
    ?[
        timestamp,
        role,
        name,
        content,
        token_count,
    ] := *_t1 {
        session_id,
    }, *entries {
        session_id,
        timestamp,
        role,
        name,
        content,
        token_count,
        parent_id,
    },
    parent_id = null,
    (role != 'system' && name != 'situation')

    :sort timestamp
    :create _t5 {
        timestamp,
        role,
        name,
        content,
        token_count,
    }
}

{
    # Get dialog (up to last 4 turns) for searching beliefs
    ?[
        timestamp,
        turn,
    ] :=
        *_t5 {
            timestamp,
            role,
            name,
            content,
        },
        role = 'user' or role = 'assistant',
        k = name ~ role,
        turn = k ++ ' said ' ++ content ++ '\n',

    :sort -timestamp
    :limit 4 * 2
    :create _last_4_turns {
        turn,
        timestamp,
    }
}

{
    collected[
        collect(turn),
    ] := *_last_4_turns { turn }

    ?[
        dialog,
    ] :=
        collected[rev_turns],
        turns = reverse(rev_turns),
        dialog = from_substrings(turns),

    :create _dialog {
        dialog,
    }
}

{
    # Search relevant beliefs by fts
    ?[
        referrent_is_user,
        referrent_id,
        subject_is_user,
        subject_id,
        belief_id,
        belief,
        valence,
        score,
    ] :=
        *_t1 {
            character_id,
            user_id,
            situation,
        },
        *_dialog {
            dialog,
        },
        referrent_id = character_id
        or referrent_id = user_id
        or subject_id = character_id
        or subject_id = user_id
        or subject_id = null
        ,
        ~beliefs:summary {
            referrent_is_user,
            referrent_id,
            subject_is_user,
            subject_id,
            belief_id,
            belief,
            valence,
            |
            # FIXME
            query: situation ++ '\n\n' ++ regex_replace_all(dialog, '[^a-zA-Z0-9\\s]+', ''),
            k: 3 * 4,  # 3 beliefs per user/character combo
            score_kind: 'tf_idf',
            bind_score: score,
        }
    
    :create _beliefs_fts {
        referrent_is_user,
        referrent_id,
        subject_is_user,
        subject_id,
        belief_id,
        belief,
        valence,
        score,
    }
}

{
    # Search relevant beliefs by hnsw
    ?[
        referrent_is_user,
        referrent_id,
        subject_is_user,
        subject_id,
        belief_id,
        belief,
        valence,
        score,
    ] :=
        *_t1 {
            character_id,
            user_id,
            dialog_embedding,
        },
        referrent_id = character_id
        or referrent_id = user_id
        or subject_id = character_id
        or subject_id = user_id
        or subject_id = null
        ,
        ~beliefs:fact_embedding_space {
            referrent_is_user,
            referrent_id,
            subject_is_user,
            subject_id,
            belief_id,
            belief,
            valence,
            |
            query: dialog_embedding,
            k: 3 * 4,  # 3 beliefs per user/character combo
            ef: 100,
            bind_distance: dist,
            radius: 100000.0,
        },
        score = 1.0 - dist
    
    :create _beliefs_hnsw {
        referrent_is_user,
        referrent_id,
        subject_is_user,
        subject_id,
        belief_id,
        belief,
        valence,
        score,
    }
}
    
{
    beliefs[
        referrent_is_user,
        referrent_id,
        subject_is_user,
        subject_id,
        belief_id,
        belief,
        valence,
        score,
    ] :=
        *_beliefs_fts {
            referrent_is_user,
            referrent_id,
            subject_is_user,
            subject_id,
            belief_id,
            belief,
            valence,
            score,
        },
        *_beliefs_hnsw {
            referrent_is_user,
            referrent_id,
            subject_is_user,
            subject_id,
            belief_id,
            belief,
            valence,
            score,
        }

    z[
        min(score),
        max(score),
        min(valence),
        max(valence),
    ] := beliefs[
            _,
            _,
            _,
            _,
            _,
            _,
            _valence,
            score,
        ],
        valence = abs(_valence)

    adjusted[
        belief,
        belief_id,
        from_user,
        about_themselves,
        adjusted_score,
        adjusted_valence,
    ] :=
        z[
            min_score,
            max_score,
            min_valence,
            max_valence,
        ],
        beliefs[
            referrent_is_user,
            _,
            _,
            subject_id,
            belief_id,
            belief,
            valence,
            score,
        ],
        from_user = referrent_is_user,
        about_themselves = subject_id == null,
        adjusted_score = (score - min_score) / (max_score - min_score),
        adjusted_valence = (abs(valence) - min_valence) / (max_valence - min_valence),

    ?[
        statement,
        score,
        num_tokens,
    ] :=
        adjusted[
            belief,
            belief_id,
            from_user,
            about_themselves,
            adjusted_score,
            adjusted_valence,
        ],
        *_t4 {
            character_name,
            user_name,
        },
        prefix = cond(
            from_user && about_themselves,
            user_name ++ ' thinks about themselves that: ',
            from_user && !about_themselves,
            user_name ++ ' thinks about ' ++ character_name ++ ' that: ',
            !from_user && about_themselves,
            character_name ++ ' thinks about themselves that: ',
            !from_user && !about_themselves,
            character_name ++ ' thinks about ' ++ user_name ++ ' that: ',
        ),
        statement = concat(': ', prefix, belief, '\n'),
        score = adjusted_score * adjusted_valence,
        # FIXME
        num_tokens = length(chars(unicode_normalize(
            statement,
            'nfkd',     # https://en.wikipedia.org/wiki/Unicode_equivalence#Normal_forms
        ))),

    :sort -score
    :limit 3
    :create _t6 {
        statement,
        score,
        num_tokens,
    }
}

{
    # Collect entries together as array of jsons
    entry_list[
        collect(data),
        sum(token_count),
    ] := *_t5 {
        timestamp,
        role,
        name,
        content,
        token_count,
    }, data = {
        'timestamp': timestamp,
        'role': role,
        'name': name,
        'content': content,
        'token_count': token_count,
    }

    # Add beliefs to entries
    belief_info[
        collect(statement),
        sum(num_tokens),
    ] :=
        *_t6 {
            statement,
            num_tokens,
        }

    entry_list[
        collect(data),
        sum(num_tokens),
    ] :=
        belief_info[
            statements,
            num_tokens,
        ],
        formatted = concat(statements),
        data = {
            'timestamp': 0,
            'role': 'system',
            'name': 'information',
            'content': formatted,
            'token_count': num_tokens,
        }

    entry_list[
        collect(data),
        sum(token_count),
    ] := *_t5 {
        timestamp,
        role,
        name,
        content,
        token_count,
    }, data = {
        'timestamp': timestamp,
        'role': role,
        'name': name,
        'content': content,
        'token_count': token_count,
    }

    ?[
        model_data,
        user_data,
        character_data,
        entries,
        total_tokens,
        situation,
        situation_timestamp,
    ] := *_t2 {
        situation,
        situation_timestamp,
    }, *_t4 {
        user_name,
        user_about,
        character_name,
        character_about,
    }, *_t3 {
        model_name,
        max_length,
        default_settings,
    }, entry_list[entries, total_tokens_float], user_data = {
        'name': user_name,
        'about': user_about,
    }, character_data = {
        'name': character_name,
        'about': character_about,
    }, model_data = {
        'model_name': model_name,
        'max_length': max_length,
        'default_settings': default_settings,
    },
    total_tokens = to_int(total_tokens_float)

    :create _t7 {
        model_data,
        user_data,
        character_data,
        entries,
        total_tokens,
        situation,
        situation_timestamp,
    }
}

{
    # Add situation and about info sections on top
    ?[
        model_data,
        entries,
        total_tokens,
    ] := *_t7 {
        model_data,
        user_data,
        character_data,
        entries: filtered_entries,
        total_tokens: filtered_total_tokens,
        situation,
        situation_timestamp,
    }, 
    about_content = concat(
        'About "', get(user_data, 'name', 'User'), '": ',
        get(user_data, 'about'), '\n\n',
        'About "', get(character_data, 'name', 'Me'), '": ',
        get(character_data, 'about')
    ),
    situation_tokens = to_int(length(situation) / 3.2),
    about_tokens = to_int(length(about_content) / 3.2),
    total_tokens = filtered_total_tokens + about_tokens + situation_tokens,
    entries = concat([
        {
            'role': 'system',
            'name': 'situation',
            'content': situation,
            'timestamp': situation_timestamp,
            'token_count': situation_tokens,
        }, {
            'role': 'system',
            'name': 'information',
            'content': about_content,
            'timestamp': situation_timestamp,
            'token_count': about_tokens,
        }
    ], filtered_entries)
}

/usr/local/lib/python3.10/dist-packages/pycozo/ext_impl.py:61: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  return res.style.applymap(_colour_code_type)

In [ ]:
%%py
raise 1//0

ZeroDivisionError: integer division or modulo by zero

## Episodes table

In [ ]:
:create episodes {
    referrent_is_user: Bool,
    referrent_id: Uuid,
    subject_is_user: Bool? default null,
    subject_id: Uuid? default null,
    episode_id: Uuid,
    last_accessed_at: Validity default [floor(now()), true],
    =>
    summary: String,
    parent_episode: Uuid? default null,
    happened_at: Float default now(),
    duration: Float default 0,
    importance: Float default 0.5,
    sentiment: String default "neutral",
    sentiment_strength: Float default 0.33334,
    created_at: Float default now(),
    embedding: <F32; 384>,
    fact_embedding: <F32; 1024>? default null,
}

In [ ]:
::index create episodes:by_episode_id {
    episode_id,
    summary,
    parent_episode,
    happened_at,
    duration,
    importance,
    sentiment,
    sentiment_strength,
    created_at,
}

In [ ]:
::hnsw create episodes:embedding_space {
    dim: 384,
    m: 50,
    dtype: F32,
    fields: embedding,
    distance: Cosine,
    ef_construction: 20,
    extend_candidates: true,
    keep_pruned_connections: false,
}

In [ ]:
::hnsw create episodes:fact_embedding_space {
    dim: 1024,
    m: 50,
    dtype: F32,
    fields: fact_embedding,
    distance: Cosine,
    filter: !is_null(fact_embedding),
    ef_construction: 20,
    extend_candidates: false,
    keep_pruned_connections: false,
}

In [ ]:
::fts create episodes:summary {
    extractor: summary,
    tokenizer: Simple,
    filters: [AsciiFolding, AlphaNumOnly, Lowercase, Stemmer('english'), Stopwords('en')],
}

## PrinciplesYou + Humantic storage

In [ ]:
:create user_principles {
    user_id: Uuid,
    full: Bool default false,
    updated_at: Validity default [floor(now()), true],
    =>
    processed_at: Float? default null,
    scores: Json
}

:create character_principles {
    character_id: Uuid,
    updated_at: Validity default [floor(now()), true],
    =>
    processed_at: Float? default null,
    scores: Json
}

:create user_humantic_profile {
    user_id: Uuid,
    updated_at: Validity default [floor(now()), true],
    =>
    processed_at: Float? default null,
    result: Json
}

## Doc similarities (for MMR)

In [ ]:
:create doc_similarities {
    doc1: <F32; 384>,
    =>
    doc2: <F32; 384>,
    similarity: Float,
}

In [ ]:
::index create doc_similarities:reverse {doc2, doc1, similarity}

*****

In [ ]:
%%py
raise 1//0

ZeroDivisionError: integer division or modulo by zero

: