In [1]:
%load_ext pycozo.ipyext_direct

In [2]:
:create embedding_models {
    name: String,
    dimensions: Int,
    requires_instruction: Bool default false,
    provider: String? default null,
}

In [3]:
?[name, dimensions, requires_instruction, provider] <- [
    ["e5-base-v2", 768, true, "embaas.io"],
    ["e5-large-v2", 1024, true, "embaas.io"],
]

:put embedding_models {
    name,
    dimensions,
    requires_instruction,
    provider
}

In [4]:
:create lm_cache {
    chatml: Json,
    model: String,
    params: Json default {},
    expires_at: Float? default null,
    =>
    response: Json,
    embedding: <F32; 768>
}

In [5]:
::hnsw create lm_cache:embedding_space {
    dim: 768,
    m: 50,
    dtype: F32,
    fields: [embedding],
    distance: Cosine,
    ef_construction: 20,
    extend_candidates: false,
    keep_pruned_connections: false,
}

In [6]:
:create conceptnet {
    concept_id: Uuid,
    concept: String,
    description: String default "",
    embedding: <F32; 768>,
}

In [7]:
::hnsw create conceptnet:embedding_space {
    dim: 768,
    m: 50,
    dtype: F32,
    fields: embedding,
    distance: Cosine,
    ef_construction: 20,
    extend_candidates: false,
    keep_pruned_connections: false,
}

In [8]:
::lsh create conceptnet:concept {
    extractor: concept,
    tokenizer: Simple,
    n_perm: 200,
    target_threshold: 0.8,
    n_gram: 3,
    false_positive_weight: 1.0,
    false_negative_weight: 1.0,
}

In [9]:
:create entities {
    entity_id: Uuid,
    name: String,
    character_id: Uuid,
    description: String default "",
}

In [10]:
:create relations {
    subject: Uuid,
    subject_type: String,
    relation: String,
    object: Uuid,
    object_type: String,
    =>
    weight: Float default 1.0,
}

In [11]:
::lsh create entities:name {
    extractor: name,
    tokenizer: Simple,
    n_perm: 200,
    target_threshold: 0.8,
    n_gram: 5,
    false_positive_weight: 1.0,
    false_negative_weight: 1.0,
}

In [12]:
:create characters {
    character_id: Uuid,
    updated_at: Validity default [floor(now()), true],
    name: String,
    is_human: Bool default false,
    =>
    about: String default "",
    metadata: Json default {},
    model: String? default null,
}

In [13]:
::lsh create characters:name {
    extractor: name,
    tokenizer: Simple,
    n_perm: 50,
    target_threshold: 0.8,
    n_gram: 3,
    false_positive_weight: 1.0,
    false_negative_weight: 1.0,
}

In [14]:
:create sessions {
    session_id: Uuid,
    updated_at: Validity default [floor(now()), true],
    =>
    situation: String,
    summary: String? default null,
}

In [15]:
::fts create sessions:summary {
    extractor: summary,
    extract_filter: !is_null(summary),
    tokenizer: Simple,
    filters: [AsciiFolding, AlphaNumOnly, Lowercase, Stemmer('english'), Stopwords('en')],
}

In [16]:
:create session_characters {
    session_id: Uuid,
    character_id: Uuid,
}

In [17]:
:create entries {
    session_id: Uuid,
    timestamp: Float,
    role: String,
    name: String? default null,
    content: String,
    character_id: Uuid,
    sentiment: Float? default null,
}

In [18]:
:create episodes {
    episode_id: Uuid,
    character_id: Uuid,
    last_accessed_at: Validity default [floor(now()), true],
    summary: String,
    =>
    parent_episode: Uuid? default null,
    duration: Float default 0,
    embedding: <F32; 768>,
}

In [19]:
::hnsw create episodes:embedding_space {
    dim: 768,
    m: 50,
    dtype: F32,
    fields: [embedding],
    distance: Cosine,
    filter: !is_null(embedding),
    ef_construction: 20,
    extend_candidates: false,
    keep_pruned_connections: false,
}

In [20]:
::fts create episodes:summary {
    extractor: summary,
    extract_filter: !is_null(summary),
    tokenizer: Simple,
    filters: [AsciiFolding, AlphaNumOnly, Lowercase, Stemmer('english'), Stopwords('en')],
}

In [21]:
:create users {
    email: String,
    character_id: Uuid,
    =>
    assistant_id: Uuid,
}

In [22]:
:create beliefs {
    belief_id: Uuid,
    character_id: Uuid,
    last_accessed_at: Validity default [floor(now()), true],
    belief: String,
    =>
    details: String default "",
    parent_belief_id: Uuid? default null,
    valence: Float default 0,
    aspects: [(String, Float, String, String)] default [],
    embedding: <F32; 768>,
}

In [23]:
::hnsw create beliefs:embedding_space {
    dim: 768,
    m: 50,
    dtype: F32,
    fields: [embedding],
    distance: Cosine,
    filter: !is_null(embedding),
    ef_construction: 20,
    extend_candidates: false,
    keep_pruned_connections: false,
}

In [24]:
::fts create beliefs:summary {
    extractor: belief ++ " " ++ details,
    tokenizer: Simple,
    filters: [AsciiFolding, AlphaNumOnly, Lowercase, Stemmer('english'), Stopwords('en')],
}