In [1]:
!poetry add "pycozo[embedded,requests,pandas]"

Using version ^0.7.2 for pycozo

Updating dependencies
Resolving dependencies... (8.9s)s://files.pythonhosted.org/packages/42/a0/877b5270e7c14e489c80e8d024db47c6c5f223af0026b9ce91addaf65b36/cozo_embedded-0.7.2-cp37-abi3-macosx_10_14_x86_64.whl  99% (8.5s)

Package operations: 2 installs, 0 updates, 0 removals

  • Installing cozo-embedded (0.7.2): Pending...
  • Installing cozo-embedded (0.7.2): Downloading... 0%
  • Installing cozo-embedded (0.7.2): Downloading... 9%
  • Installing cozo-embedded (0.7.2): Downloading... 20%
  • Installing cozo-embedded (0.7.2): Downloading... 30%
  • Installing cozo-embedded (0.7.2): Downloading... 40%
  • Installing cozo-embedded (0.7.2): Downloading... 50%
  • Installing cozo-embedded (0.7.2): Downloading... 60%
  • Installing cozo-embedded (0.7.2): Downloading... 70%
  • Installing cozo-embedded (0.7.2): Downloading... 79%
  • Installing cozo-embedded (0.7.2): Downloading... 90%
  • Installing cozo-embedded (0.7.2): Downloading... 100%
  • Installing cozo-embedded (0.7.2): Installing...
  • Installing cozo-embedded (0.7.2)
  • Installing pycozo (0.7.2): Pending...
  • Installing pycozo (0.7.2): Downloading... 0%
  • Installing pycozo (0.7.2): Downloading... 100%
  • Installing pycozo (0.7.2): Installing...
  • Installing pycozo (0.7.2)

Writing lock file

In [2]:
%load_ext pycozo.ipyext_direct

In [3]:
?[] <- [['hello', 'world', 'Cozo!']]

In [4]:
?[] <- [[1, 2, 3], ['a', 'b', 'c']]

In [5]:
?[] <- [[1.5, 2.5, 3, 4, 5.5], 
        ['aA', 'bB', 'cC', 'dD', 'eE'], 
        [true, false, null, -1.4e-2, "A string with double quotes"]]

In [7]:
?[] <- [[1], [2], [1], [2], [1]]

In [8]:
?[] <- [[
            1 + 2, # addition
            3 / 4, # division
            5 == 6, # equality
            7 > 8, # greater
            true || false, # or
            false && true, # and
            lowercase('HELLO'), # function
            rand_float(), # function taking no argument
            union([1, 2, 3], [3, 4, 5], [5, 6, 7]), # variadic function
        ]]

In [10]:
?[first, second, third] <- [[1, 2, 3], ['a', 'b', 'c']]

In [11]:
rule[first, second, third] <- [[1, 2, 3], ['a', 'b', 'c']]
?[a, b, c] := rule[a, b, c]

In [12]:
rule[first, second, third] <- [[1, 2, 3], ['a', 'b', 'c']]
?[c, b] := rule[a, b, c]

In [14]:
rule[first, second, third] <- [[1, 2, 3], ['a', 'b', 'c']]
?[c, b] := rule[a, b, c], is_num(a)

In [15]:
rule[first, second, third] <- [[1, 2, 3], ['a', 'b', 'c']]
?[c, b, d] := rule[a, b, c], is_num(a), d = a + b + 2*c

In [16]:
r1[] <- [[1, 'a'], [2, 'b']]
r2[] <- [[2, 'B'], [3, 'C']]

?[l1, l2] := r1[_, l1], 
             r2[_, l2]

In [17]:
r1[] <- [[1, 'a'], [2, 'b']]
r2[] <- [[2, 'B'], [3, 'C']]

?[l1, l2] := r1[a, l1], 
             r2[a, l2] # reused `a`

In [18]:
?[x, y] := x in [1, 2, 3], y in ['x', 'y']

In [20]:
r1[] <- [[1, 'a'], [2, 'b']]
r2[] <- [[2, 'B'], [3, 'C']]

?[l1, l2] := r1[a, l1], 
             r2[a, l2]
    
:create stored {l1, l2}

In [21]:
::relations

In [22]:
::columns stored

In [23]:
?[a, b] := *stored[a, b]

In [24]:
?[l1, l2] <- [['e', 'E']]
    
:put stored {l1, l2}

In [25]:
?[l1, l2] := *stored[l1, l2]

In [26]:
::remove stored

In [27]:
?[a, b, c] <- [[1, 'a', 'A'],
               [2, 'b', 'B'],
               [3, 'c', 'C'],
               [4, 'd', 'D']]

:create fd {a, b => c}

In [28]:
?[a, b, c] := *fd[a, b, c]

In [34]:
?[a, b, c] <- [[3, 'c', 'CCCCCCC']]

:put fd {a, b => c}

parser::pest

  × The query parser has encountered unexpected input / end of input at 57..57
   ╭─[2:1]
 2 │
 3 │ :put fd {a => c, b => c}
   ·                     ▲
 4 │
   ╰────

In [30]:
?[a, b, c] := *fd[a, b, c]

In [31]:
?[a, b, c] <- [[4, 'c', 'CCCCCCC']]

:put fd {a, b => c}

In [32]:
?[a, b, c] := *fd[a, b, c]

In [33]:
::remove fd

In [36]:
?[loving, loved] <- [['alice', 'eve'],
                     ['bob', 'alice'],
                     ['eve', 'alice'],
                     ['eve', 'bob'],
                     ['eve', 'charlie'],
                     ['charlie', 'eve'],
                     ['david', 'george'],
                     ['george', 'george']]

:replace love {loving, loved}

In [37]:
?[loved_by_b_e] := *love['eve', loved_by_b_e], 
                   *love['bob', loved_by_b_e]